body {
  background-color: gainsboro;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.head-main {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  color: rgba(161, 12, 12, 0.774);
}

.container {
  background-color: #fff;
  width: 80%;
  margin: 0 auto 0 auto;
  box-shadow: 5px 5px #000;
}

.content {
  margin: 0 20px 0 20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fifth {
  text-align: center;
  padding: 20px;
}

.clear {
  text-align: center;
  font-size: 25px;
}

h2 {
  margin: 0;
}

.input-field {
  border: none;
  font-size: 20px;
  width: 220px;
}

input:focus {
  outline: none;
}

button {
  border: none;
  background-color: #fff;
}

p {
  margin: 0;
}

.input {
  border: none;
  font-size: 17px;
  width: 150px;
}

ul {
  list-style-type: none;
}

.inner {
  display: flex;
  padding-left: 0;
  gap: 10px;
}
